# Eclipse Stuff

.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# Emacs Stuff
*.java~
*.java#
#*
*~
.#*

# This Project
test.txt
macos
macos/*
src/.DS_Store
build
build/*
build/Main
dist
dist/*
